
/* GENERAL */
*                     /* Reset des marges interieures et exterieur */
{
    margin: 0px;
    padding: 0px;
    font-family: Raleway,sans-serif;
}
h1
{
    font-size: 22px;
}


.container
{
    margin-left: 50px;
    margin-right: 53px;
}



/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}
header ul    
{
    width: 447px;
    list-style: none;
    padding: 0px;
}
header nav ul 
{
    display: flex;
    justify-content: space-between;
}
header nav ul li a 
{
    color: black;
    text-decoration: none;
    padding-top: 46px; 
    padding-right: 33.5px;
    padding-left: 33.5px;  
}
header nav ul li:nth-child(3) a
{
    font-weight: bold;
    color: #0065FC;
    padding-right: 24px;
}

header nav ul li a:hover
{
    color: #0065FC;
    border-top:   3px  #0065FC solid ;   
}



/* RECHERCHE */

#recherche
{
    margin-top: 45px;
}
.precherche1
{
    margin-top: 14px;
}
.h1recherche1
{
    margin-bottom: 0px; ;
}

.logo
{
background-color: #F2F2F2;
border-bottom-left-radius: 20px ;
border-top-left-radius: 20px;
width: 52px;
height: 52px;

display: flex; 
align-items: center;
justify-content: center;


}
.champ
{
    display: flex;
    margin-top: 17px;
}
.champ div:nth-of-type(2) input 
{
    font-weight: bold;                  /* CHAMP TEXT */
    width: 234px;
    height: 48px;
    font-size: 16px;

    border:1px solid #F2F2F2;

}


.champ div:nth-of-type(3) input
{
    width: 135px;
    height: 53px;                       /* BOUTTON RECHERCHER*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#0065fc;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #F2F2F2;
}
.champ div:nth-of-type(3) input:hover
{
    cursor: pointer;
    font-size: 17px;
}
.filtres
{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    width: 930px;
    
}
.bordfiltre
{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    height: 46px;
    
}
.logfiltres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #0065fc;
    border:none;
    position: relative;
    left: 22px;
}
.filtres h4
{
    align-self: center;
    font-size: 18.5px;
}
.filterbuttons
{

    align-self: center;
    height: 46px;
    border:none;
    background-color:transparent;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
.filtres div input:hover
{
    transform: scale(1.05);
    color: #0065FC;
}


.info
{
    display: flex;
    justify-content: space-between;
    width: 446px;
    margin-top: 35px;
}
.info div 
{
    width: 25px;
    height: 25px;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.info p
{
    align-self: center;
    font-size: 15.5px;
}





/* HEBERGEMENTS */
#hebergements
{
    display: flex;
    margin-top: 37px;
}
.divhebergements
{
    width: 798px;
    height: 533px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 47px 33px 46px 50px;
}
.divhebergements h1
{
    font-size: 22.5px;
}
.lieuxhebergements
{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 428px;
}
.lieuisole
{
    text-decoration: none;
    color: black;
    width: 236px;
    height: 184px;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px #E3E3E3;
}
.legendeheb
{
    display: flex;
    height: 59px;
    justify-content: space-between;
    flex-direction: column;
    margin: 12px 0px 0px 11px;
    
}
.ImHeb            
{
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImHeb
{
   width: 246px;
   position: relative;
   height: 114px;
   right: 6px;
   object-fit: cover;
}
.legendeheb p
{
    font-size: 13.5px;
}
.legendeheb h4
{
    font-size: 16.5px;
}
.legendeheb div
{
    font-size: 11px;  
}
.starOn
{
    color: #0065FC;
}
.starOff
{
    color: #d9d9d9;
}
.affich
{
    margin-top: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
}


.divpopu
{
    width: 345px;
    height: 548px;
    padding: 42px 38px 30px 38px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}
.titrepopu
{
    display: flex;
    justify-content: space-between;
}
.titrepopu i 
{
    font-size: 22.5px;
}
.titrepopu h1
{
    font-size: 22.5px;
}
.hebergementpopu
{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 498px;
}
.popisole
{
    text-decoration: none;
    color: black;
    width: 286px;
    height: 134px;
    padding: 5px 52px 5px 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px #E3E3E3;
    display: flex;
}
.ImPop
{
    width: 127px;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}
.PosImPop
{
   width: 127px;
   position: relative;
   height: 134px;
   right: 6px;
   object-fit: cover;
}
.legendepop
{
    height: 115px;
    margin: 14px 0px 9px 21px;
    width: 145px;
}
.legendepop p
{
    font-size: 13.5px;
}
.legendepop h4
{
    font-size: 16.5px;
    margin-bottom: 5px;
}
.legendepop div
{
    font-size: 11px;
    margin-top: 35px;  
}




/* ACTIVITIES */
#activities
{
    margin-top: 65px;
}
#activities h1
{
    font-size: 22.5px;
}
.divActivities
{
    margin-top: 27px;
    height: 445px;
    width: 1337px;
    display: flex;
    justify-content: space-between;
}
.act1,.act4
{
    width: 302px;
    height: 446px;
    box-shadow: 0px 0px 15px #E3E3E3;
    border-radius: 20px;
}
.ImActBig
{
    height: 391px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImActBig
{
    width: 302px;
    height: 446px;
    object-fit: cover;
}
.divActivities a
{
    text-decoration: none;
    color: black;
}
.divActivities h4
{
    margin: 18px 0px 0px 19px;
    font-size: 16.5px;
}

.act2-3, .act5-6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    height: 446px;
}
.a2
{
    height: 238px;
    width: 302px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #E3E3E3;
}
.ImAct2
{
    height: 182px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImAct2
{
    width: 302px;
    height: 238px;
    object-fit: cover;
}
.a3
{
    height: 164px;
    width: 302px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #E3E3E3;
}
.ImAct3
{
    height: 109px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImAct3
{
    width: 302px;
    height: 164px;
    object-fit: cover;
}
.a5
{
    height: 197px;
    width: 302px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #E3E3E3;
}
.ImAct5
{
    height: 142px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImAct5
{
    width: 302px;
    height: 197px;
    object-fit: cover;
}
.a6
{
    height: 209px;
    width: 302px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #E3E3E3;
}
.ImAct6
{
    height: 153px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}
.PosImAct6
{
    width: 302px;
    height: 209px;
    object-fit: cover;
}
.a2:hover , .a3:hover ,.a5:hover,.a6:hover, .act1:hover,.act4:hover , .popisole:hover , .lieuisole:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px grey;
}




/* FOOTER */
footer
{
    background-color: #F2F2F2;
    height: 118px;
    margin-top: 53px;
    display: flex;
    padding: 50px;
}
footer div h4
{
    font-size: 18px;
    margin-bottom: 23px;
}
footer ul li 
{
    list-style: none;
    margin-bottom: 9px;
}
footer ul li a
{
    text-decoration: none;
    color: black;
    
}
.apropos
{
    margin-right: 227px;
}
.noshebergements
{
    margin-right: 292px;
}
footer ul li a:hover
{
    font-weight: bold;
}